.item-selection > td {
  padding: 5px;
}

.item-selection:hover {
  background-color: var(--var-color-light-grey);
}

.item-selection-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
