<div fxLayout="column" *ngIf="albumData">

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">

    <div fxFlex="25" fxLayoutGap="0.5%">

      <img style="width: 256px; height: 256px; position: relative; border-radius: 10px"
           alt="album image" [src]="constructAlbumArtImageUrl(albumData?.imgUrl)"/>

    </div>

    <div fxFlex="65" fxLayoutGap="0.5%">

      <table>
        <tr>
          <td><h1>{{albumData?.name}}</h1></td>
          <td *ngIf="albumData">
            <div (click)="editAlbum({event: $event, data: albumData})" class="set-cursor-pointer" style="background-color: var(--var-color-warn); height:0;width:100%;padding-bottom:100%; border-radius:50px">
              <mat-icon style="margin:3px" aria-hidden="false" aria-label="Edit album">edit</mat-icon>
            </div>
          </td>
        </tr>
      </table>

      <h5 class="color-dark-grey set-cursor-pointer" *ngIf="artistResponseData?.name" [innerText]="artistResponseData?.name" (click)="navigateToArtist({event: $event, data: artistResponseData.surrogateKey})"></h5>
      <h5 class="color-dark-grey" *ngIf="albumData?.songsSurrogateKeys"
          [innerText]="''.concat('Album - ').concat(albumData?.songsSurrogateKeys?.length?.toString()).concat(' Songs')"></h5>

    </div>

  </div>

  <div style="height: 50px">
    <!--vertical space between two components-->
  </div>

  <mat-divider fxFlexAlign="center" class="near-max-width-element"></mat-divider>

  <div style="height: 50px">
    <!--vertical space between two components-->
  </div>

  <mat-list>
    <h3 class="item-padding" style="color: var(--var-color-dark-grey)">Songs</h3>

    <div style="height: 50px">
      <!--vertical space between two components-->
    </div>

    <div *ngIf="artistResponseData?.name" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="7%">

      <mat-list-item *ngFor="let item of songWithArtistList" class="set-cursor-pointer">
        <div  fxFlex="100" class="item-hover item-padding item-corner">

          <div fxFlex="98" (click)="navigateToSong({event: $event, data: item.song.surrogateKey})">
            <div fxFlex="30" fxLayoutAlign=" center">

              <img *ngIf="item?.song?.imgUrl"
                   style="width: 128px; height: 128px; position: relative; border-radius: 10px"
                   alt="song image" [src]="constructSongAlbumArtUrl(item?.song?.imgUrl)"/>
              <img *ngIf="!item?.song?.imgUrl"
                   style="width: 128px; height: 128px; position: relative; border-radius: 10px"
                   alt="album image" [src]="constructAlbumArtImageUrl(item?.song?.imgUrl)"/>
            </div>

            <div fxFlex="20" fxLayoutAlign=" center">
              <h4 mat-line>{{item.song?.name}}</h4>
            </div>

            <div fxFlex="48" fxLayoutAlign=" center">
              <h4 [matTooltip]="getArtistListAsACommaSeparatedList(artistResponseData?.name, item.artistList)" mat-line>
                {{getArtistListAsACommaSeparatedList(artistResponseData?.name, item.artistList)}}</h4>
            </div>
          </div>

          <div fxFlex="2" fxLayoutAlign=" center" style="z-index: 1000" class="set-cursor-pointer"
               matTooltip="Copy the link to the Clipboard"
               (click)="copySongUrl({event: $event, data: item?.song?.surrogateKey})">
            <span class="material-icons">link</span>
          </div>

        </div>
      </mat-list-item>

    </div>

  </mat-list>

  <div style="height: 50px">
    <!--vertical space between two components-->
  </div>

  <mat-divider fxFlexAlign="center" class="near-max-width-element"></mat-divider>

  <div style="height: 50px">
    <!--vertical space between two components-->
  </div>

</div>
