<div fxLayout="column">

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">

    <div fxFlex="25%" fxLayoutGap="0.5%">

      <img style="width: 256px; height: 256px; position: relative; border-radius: 10px" alt="album image" [src]="songData.data.imgUrl"/>

    </div>

    <div fxFlex="65%" fxLayoutGap="0.5%">

      <h1>{{songData.data.name}}</h1>

      <h5 class="color-dark-grey" *ngIf="album" [innerText]="album.data.name"></h5>
      <h5 class="color-dark-grey" *ngIf="artist && featuringArtistList.length === 0" [innerText]="artist"></h5>
      <h5 class="color-dark-grey" *ngIf="artist && featuringArtistList.length > 0" [innerText]="artist + ' featuring ' + featuringArtistList.toString().split(',').join(', ')"></h5>
      <h5 class="color-dark-grey" *ngIf="genreNameListOfTheSong.length > 0" [innerText]="genreNameListOfTheSong.toString().split(',').join(', ')"></h5>
      <span class="color-light-grey">Added by {{songData.data.addedBy.firstName}} {{songData.data.addedBy.lastName}}</span> <br />
      <span class="color-light-grey">Last modified by {{songData.data.lastModifiedBy.firstName}} {{songData.data.lastModifiedBy.lastName}}</span> <br />
      <span class="color-light-grey">Added on {{formatDate(songData.data.addedDate)}}, Last modified on {{formatDate(songData.data.lastModifiedDate)}}</span> <br />

    </div>

  </div>

  <div style="height: 50px">
    <!--vertical space between two components-->
  </div>

  <mat-divider fxFlexAlign="center" class="near-max-width-element"></mat-divider>

  <div style="height: 50px">
    <!--vertical space between two components-->
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around start">

    <div fxFlex="25%" fxLayoutGap="0.5%">

      <table>
        <tr>
          <td>
            <mat-slide-toggle
              class="example-margin"
              color="warn"
              [(ngModel)]="guitarChordToggle">
            </mat-slide-toggle>
          </td>
          <td colspan="2">
            Hide Guitar Chords
          </td>
        </tr>
        <tr *ngIf="songData.data.guitarKey">
          <td>Key</td>
          <td>:</td>
          <td [innerText]="songData.data.guitarKey"></td>
        </tr>
        <tr *ngIf="songData.data.beat">
          <td>Beat</td>
          <td>:</td>
          <td [innerText]="songData.data.beat"></td>
        </tr>
      </table>

    </div>

    <div fxFlex="65%" fxLayoutGap="0.5%">

      <pre *ngIf="!guitarChordToggle" [innerHTML]="lyric" class="lyric-font-style lyric-font-size"></pre>
      <pre *ngIf="guitarChordToggle" [innerHTML]="lyricWithoutChords" class="lyric-font-style lyric-font-size"></pre>

    </div>

  </div>

  <span fxLayoutAlign="start" style="text-decoration: underline; cursor: pointer; font-size: 0.9em" class="color-light-grey">submit correction</span>

  <mat-divider fxFlexAlign="center" class="near-max-width-element"></mat-divider>

  <div style="height: 50px">
    <!--vertical space between two components-->
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-sm="start">

    <div>

      <table class="small-icon-size-with-light-grey space-around-cells">
        <tr>
          <td>
            <span class="color-dark-grey">Listen on</span>
          </td>
          <td>
            <img src="/assets/icons/youtube.svg" alt="youtube icon" *ngIf="youtubeLink" (click)="youtubeLink">
          </td>
          <td>
            <img src="/assets/icons/spotify.svg" alt="spotify icon" *ngIf="spotifyLink" (click)="spotifyLink">
          </td>
          <td>
            <img src="/assets/icons/deezer.svg" alt="deezer icon" *ngIf="deezerLink" (click)="deezerLink">
          </td>
          <td>
            <img src="/assets/icons/applemusic.svg" alt="apple music icon" *ngIf="appleMusicLink" (click)="appleMusicLink">
          </td>
        </tr>
      </table>

    </div>

    <div>

      <table class="small-icon-size-with-light-grey space-around-cells">
        <tr>
          <td>
            <span class="color-dark-grey">Share on</span>
          </td>
          <td>
            <img src="/assets/icons/facebook.svg" alt="facebook icon" (click)="facebookLink">
          </td>
          <td>
            <img src="/assets/icons/twitter.svg" alt="twitter icon" (click)="twitterLink">
          </td>
          <td>
            <img src="/assets/icons/instagram.svg" alt="instagram icon" (click)="instagramLink">
          </td>
        </tr>
      </table>

    </div>

  </div>

  <div style="height: 50px">
    <!--vertical space between two components-->
  </div>

  <div #publishComponent>

    <span>Publish</span>

    <mat-divider fxFlexAlign="center" class="near-max-width-element"></mat-divider>


    <button></button>

  </div>

  <div #diffComponent>

    <mat-divider fxFlexAlign="center" class="near-max-width-element"></mat-divider>


  </div>


</div>



