.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

/*eliminate XSS attacks by explicitly declaring filters inside classes*/
.filter-elements-grayscale {
  filter: grayscale(100%);
}

/*eliminate XSS attacks by explicitly declaring filters inside classes*/
.filter-elements-none {
  filter: none;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}

.loading-progress-bar-position {
  left: 0;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 2;
  position: fixed !important;
}
