<mat-horizontal-stepper linear #contributorStepper>

  <mat-step [completed]="!isAlbumArtistInputsInvalid()">

    <ng-template matStepLabel>Album</ng-template>

    <div fxLayout="row">

      <div fxLayout="column" fxFlex="100%">

        <app-album-and-author-adding-dashboard></app-album-and-author-adding-dashboard>

        <div fxLayout="row" fxFlex fxLayoutAlign="start" style="margin-top: 2em">
          <span class="color-warn album-form-inner-component-width" style="font-size: 0.7em; float: top;"
                [hidden]="!isAlbumArtistInputsInvalid() && getMandatoryInputNames() != null">
            *{{getMandatoryInputNames()}} field is mandatory.
          </span>
        </div>

        <div fxLayout="row">

          <div fxFlex fxLayoutAlign="end start" style="margin-top: 2em">

            <button mat-button mat-raised-button color="warn" class="button-default" [disabled]="!isAlbumArtistInputsInvalid()" (click)="navigateToAlbumCreation()">
              Create a New Album
            </button>

            <button mat-button mat-raised-button color="warn" class="button-default" [disabled]="!isAlbumArtistInputsInvalid()" (click)="navigateToArtistCreation()">
              Create a New Artist
            </button>

            <button matStepperNext mat-button mat-raised-button color="warn" class="button-default" [disabled]="isAlbumArtistInputsInvalid()">
              Next
            </button>

          </div>

        </div>

      </div>

    </div>

  </mat-step>

  <mat-step [completed]="hasSongAddingRequestCompleted">

    <ng-template matStepLabel>Lyrics</ng-template>

    <div fxLayout="row">

      <div fxLayout="column" fxFlex="100%">

        <app-song-add-update-dashboard (contributeTabComponent$HasSongAddingRequestCompleted)="hasSongAddingRequestCompleted=$event"></app-song-add-update-dashboard>

        <div fxLayout="row">

          <div fxFlex fxLayoutAlign="end start" style="margin-top: 2em">

            <button mat-button mat-raised-button color="warn" class="button-default" (click)="delegateSaveSong(contributorStepper)">Save</button>

          </div>

        </div>

      </div>

    </div>

  </mat-step>

  <mat-step>

    <ng-template matStepLabel>Publish</ng-template>

    <div fxLayout="row">

      <div fxLayout="column" fxFlex="100%" *ngIf="hasSongAddingRequestCompleted">

        <app-song-view-dashboard></app-song-view-dashboard>

      </div>

      <div fxLayout="column" fxFlex="100%" *ngIf="!hasSongAddingRequestCompleted">

        <h3>Uh.oh.. you're not suppose to see this page.</h3>

      </div>

    </div>

  </mat-step>
</mat-horizontal-stepper>
