<mat-horizontal-stepper linear #stepper>

  <mat-step [completed]="!isAlbumArtistInputsInvalid()">

    <ng-template matStepLabel>Album</ng-template>

    <div fxLayout="row">

      <div fxLayout="column" fxFlex="100%">

        <app-album-and-author-adding-dashboard></app-album-and-author-adding-dashboard>

        <div fxLayout="row" fxFlex fxLayoutAlign="start" style="margin-top: 2em">
          <span class="color-warn album-form-inner-component-width" style="font-size: 0.7em; float: top;"
                [hidden]="!isAlbumArtistInputsInvalid() && getMandatoryInputNames() != null">
            *{{getMandatoryInputNames()}} field is mandatory.
          </span>
        </div>

        <div fxLayout="row">

          <div fxFlex fxLayoutAlign="end start" style="margin-top: 2em">

            <button mat-button mat-raised-button color="warn" class="button-default" [disabled]="!isAlbumArtistInputsInvalid()" (click)="navigateToAlbumCreation()">
              Create a New Album
            </button>

            <button mat-button mat-raised-button color="warn" class="button-default" [disabled]="!isAlbumArtistInputsInvalid()" (click)="navigateToArtistCreation()">
              Create a New Artist
            </button>

            <button matStepperNext mat-button mat-raised-button color="warn" class="button-default" [disabled]="isAlbumArtistInputsInvalid()">
              Next
            </button>

          </div>

        </div>

      </div>

    </div>

  </mat-step>

  <mat-step>

    <form [formGroup]="songAddingFormGroup">

      <ng-template matStepLabel>Lyrics</ng-template>

      <div fxLayout="row">

        <div fxLayout="column" fxFlex="100%">

          <app-song-add-update-dashboard [songAddingDashboardFormGroup]="songAddingFormGroup" ></app-song-add-update-dashboard>

          <div fxLayout="row">

            <div fxFlex fxLayoutAlign="end start" style="margin-top: 2em">

              <button mat-button mat-raised-button color="warn" class="button-default" (click)="saveSong()">Save</button>

            </div>

          </div>

        </div>

      </div>

    </form>

  </mat-step>

  <mat-step>

    <ng-template matStepLabel>Publish</ng-template>

    <div fxLayout="row">

      <div fxLayout="column" fxFlex="100%">

        <app-song-view-dashboard></app-song-view-dashboard>

        <div fxLayout="row">

          <div fxFlex fxLayoutAlign="end start" style="margin-top: 2em">

            <button mat-button mat-raised-button color="warn" class="button-default" matStepperPrevious>Back</button>

          </div>

        </div>

      </div>

    </div>

  </mat-step>
</mat-horizontal-stepper>
