<mat-horizontal-stepper linear #stepper>

  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">

      <ng-template matStepLabel>Album</ng-template>

      <div fxLayout="row">

        <div fxLayout="column">

          <app-album-and-author-adding-dashboard [firstFormGroup]="firstFormGroup"></app-album-and-author-adding-dashboard>

          <div>

            <p class="color-warn album-form-inner-component-width" style="font-size: 0.7em; float: top" [hidden]="!validateInputs()
             && mandatoryInputNames() != null">
              *{{mandatoryInputNames()}} field is mandatory.
            </p>

            <button mat-button matStepperNext [disabled]="validateInputs()">
              Next
            </button>

          </div>

        </div>

      </div>

    </form>

  </mat-step>

  <mat-step [stepControl]="secondFormGroup">

    <form [formGroup]="secondFormGroup">

      <ng-template matStepLabel>Lyrics</ng-template>

      <mat-form-field>
        <input matInput placeholder="Address" formControlName="thirdCtrl" required>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>

    </form>

  </mat-step>

  <mat-step>

    <ng-template matStepLabel>Publish</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>

  </mat-step>
</mat-horizontal-stepper>
