<div fxLayout="row" fxLayoutAlign="center">

  <div fxLayout="column">

    <table style="text-align: center">
      <tr>
        <td style="padding-top: 30px">
          <img alt="profile picture" src="../../../../../assets/profile_picture_temp.jpg"
               style="width: 100px; height: 100px; border-radius: 50px; border: 6px solid #f44336"/>
        </td>
      </tr>
      <tr *ngIf="afAuth.user | async as user;">

        <td style="color:var(--var-color-warn); font-size: 36px; padding-bottom: 0" *ngIf="user.displayName != null">
          {{user.displayName}} saaa
        </td>
        <td *ngIf="user.displayName != null">
          <button color="warn" mat-mini-fab aria-label="Edit name" (click)="changeUserName('John Doe')">
            <mat-icon>edit</mat-icon>
          </button>
        </td>

        <td *ngIf="user.displayName == null">


          <div fxLayout="row" fxLayoutAlign="center">

            <form [formGroup]="nameChangingForm">

              <div fxLayout="row wrap">

                <mat-form-field fxFlexAlign="center" color="warn"
                                class="login-form-inner-component-width light-grey-solid-border">
                  <input matInput placeholder="First Name" formControlName="firstName">
                  <mat-error
                    *ngIf="nameChangingForm.controls.firstName.invalid">{{formFieldValidatingStatusService.getErrorMessage(nameChangingForm, formFieldValidatingStatusService.formFieldConstants.EMAIL)}}
                  </mat-error>
                </mat-form-field>

                <mat-form-field fxFlexAlign="center" color="warn"
                                class="login-form-inner-component-width light-grey-solid-border">
                  <input matInput placeholder="Last Name" formControlName="lastName">
                  <mat-error
                    *ngIf="nameChangingForm.controls.lastName.invalid">{{formFieldValidatingStatusService.getErrorMessage(nameChangingForm, formFieldValidatingStatusService.formFieldConstants.EMAIL)}}
                  </mat-error>
                </mat-form-field>

              </div>

            </form>

          </div>

        </td>
        <td>
          <div fxLayoutAlign="center center">
            <button color="warn" mat-mini-fab aria-label="Edit name">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </td>

      </tr>
      <tr>
        <td style="color: var(--var-color-dark-grey); font-size: 18px; padding-top: 0">
          Senior Contributor
        </td>
      </tr>
      <tr>
        <td>
          <p class="word-wrap">
            One good thing about music, when it hits you, you feel no pain.
          </p>
        </td>
        <td>
          <button color="warn" mat-mini-fab aria-label="Edit description">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          Total Contributions - 240
        </td>
      </tr>
      <tr>
        <td>
          fb.com/phillipgunn
        </td>
        <td>
          <button color="warn" mat-mini-fab aria-label="Edit contact link">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </table>

  </div>

</div>

<div fxLayout="row" fxLayoutAlign="start">

  <p style="color: var(--var-color-light-grey)" class="padding-margin-bottom-values-zero">Advanced Settings</p>

</div>

<div fxLayout="row" fxLayoutAlign="center">

  <mat-divider fxFlexAlign="center" fxFlex="100%" class="padding-margin-top-values-zero"></mat-divider>

</div>

<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between">

  <div *ngIf="afAuth.user | async as user">
    <table>
      <tr>
        <td>
          Change E-Mail ({{user.email}})
        </td>
        <td>
          <button color="warn" mat-mini-fab>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          Change Password (********)
        </td>
        <td>
          <button color="warn" (click)="changePassword()" mat-mini-fab>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <!--<div>-->
  <!--<table>-->

  <!--</table>-->
  <!--</div>-->
  <!--</div>-->
  <!--<h1>Hello {{ user.displayName }}!</h1>-->

  <div fxLayoutAlign="center center">
    <button mat-raised-button color="warn" class="button-default">Send a Message to Admin</button>
  </div>

</div>
