<div [formGroup]="songAddingDashboardFormGroup">

  <div fxLayout="row">

    <div fxLayout="column">

      <h6 class="color-light-grey" fxFlexAlign="start">Name</h6>

      <mat-divider fxFlexAlign="left" class="album-form-inner-component-width"></mat-divider>

      <mat-form-field class="song-name-input">

        <input matInput name="ArtistName"
               placeholder="Enter Song Name"
               formControlName="songNameCtrl">

        <mat-icon class="mat-icon-white" matSuffix>edit</mat-icon>

      </mat-form-field>

      <div style="height: 50px">
        <!--vertical space between two components-->
      </div>

      <button mat-button mat-raised-button color="warn" class="upload-custom-album-art-button-default button-default">Upload Custom Album Art for this Song</button>

      <span class="color-warn song-form-inner-component-width" style="font-size: 0.7em; float: top">
        * Optional
        <br/>
        * Or otherwise it'll display the Album's Album Art Image.
      </span>

      <div style="height: 50px">
        <!--vertical space between two components-->
      </div>

      <h6 class="color-light-grey" fxFlexAlign="start">Genre</h6>

      <mat-divider fxFlexAlign="left" class="artist-form-inner-component-width"></mat-divider>

<!--      <mat-form-field class="song-add-chip-list">-->

<!--        <mat-chip-list #chipGenreList aria-label="Genre selection">-->

<!--          <mat-chip-->
<!--            *ngFor="let singleGenre of genre"-->
<!--            [selectable]="selectable"-->
<!--            [removable]="removable"-->
<!--            (removed)="remove(singleGenre)">-->
<!--            {{singleGenre.substring(0, singleGenre.lastIndexOf("$"))}}-->
<!--            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
<!--          </mat-chip>-->

<!--          <input #genreInput matInput-->
<!--                 name="Genre"-->
<!--                 placeholder="Search an Genre"-->
<!--                 formControlName="genreCtrl"-->
<!--                 [matAutocomplete]="autoCompleteGenre"-->
<!--                 [matChipInputFor]="chipGenreList"-->
<!--                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
<!--                 [matChipInputAddOnBlur]="addOnBlur"-->
<!--                 [multiple]="false"-->
<!--                 (matChipInputTokenEnd)="add($event)"-->
<!--                 (keyup)="onKey($event)">-->

<!--          <mat-icon class="mat-icon-white" matSuffix>edit</mat-icon>-->

<!--        </mat-chip-list>-->

<!--        <mat-autocomplete #autoCompleteGenre="matAutocomplete" (optionSelected)="selected($event)">-->

<!--          <mat-option *ngFor="let singleGenre of filteredGenre | async" [value]="singleGenre">-->
<!--            {{singleGenre.substring(0, singleGenre.lastIndexOf("$"))}}-->
<!--          </mat-option>-->

<!--        </mat-autocomplete>-->

<!--      </mat-form-field>-->

    </div>

  </div>

</div>
