/* Can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

:root {
  --var-color-warn: #f44336;
  --var-color-light-grey: #d1d1d1;
  --var-color-dark-grey: #707070;
  --var-color-text-default: #323232;
  --var-color-button-text-default: #fff;
  --var-color-white: #fff;
  --var-album-artist-form-width: 340px;
  --var-album-artist-button-width: 240px;
  --var-song-form-width: 340px;
  --var-song-button-width: 240px;
}

* {
  font-family: 'Fredoka One', cursive;
  color: var(--var-color-text-default);
}

*:not(.mat-autocomplete-panel) {
  -ms-overflow-style: none;  /* IE and Edge - hide the scrollbar */
  scrollbar-width: none;  /* Firefox - hide the scrollbar */
}

*:not(.mat-autocomplete-panel)::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera - hide the scrollbar */
}

ul:focus {
  outline: none !important;
  border: 0 !important;
}

li:focus {
  outline: none !important;
  border: 0 !important;
}

.cursive-font {
  font-family: 'Pacifico', cursive !important;
}

.color-warn {
  color: var(--var-color-warn);
}

.color-dark-grey {
  color: var(--var-color-dark-grey);
}

.color-light-grey {
  color: var(--var-color-light-grey);
}

.light-grey-solid-border {
  border: 1px solid var(--var-color-light-grey);
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 10px;
}

.button-default {
  font-size: 18px;
  border-radius: 5px !important;
  padding: 0 10px 0 10px !important;
  margin: 10px !important;
}

.button-default .mat-button-wrapper {
  color: var(--var-color-button-text-default);
}

.button-no-background {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.word-wrap{
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

mat-icon{
  color: var(--var-color-button-text-default);
}

.mat-icon-white{
  color: var(--var-color-dark-grey);
}

.padding-margin-top-values-zero{
  padding-top: 0;
  margin-top: 0;
}

.padding-margin-bottom-values-zero{
  padding-bottom: 0;
  margin-bottom: 0;
}

.padding-margin-values-zero{
  padding: 0;
  margin: 0;
}

.center-align-text{
  text-align: center;
}

.white-snackbar {
  background: var(--var-color-white) !important;
}

.red-snackbar {
  background: var(--var-color-warn) !important;
}

.back-button-with-ripple {
  cursor: pointer;

  width: 100%;
  height: 100%;
  line-height: 100%;
  margin: 20px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
