<div *ngIf="userAuth.getUser() | async as user">

  <h1>Hello {{ user.displayName }}!</h1>
  <h1>Hello {{ user.email }}!</h1>

  <button (click)="logout()">Logout</button>


  <!--<div *ngIf="user.emailVerified; else showVerifyEmail">-->


  <span>refresh token: {{userAuth.token}}</span>

  <button (click)="refreshToken(true)">Force Auth Token</button>

  <span>force refresh token: {{userAuth.forceToken}}</span>

  <!--</div>-->

  <app-contributor-dashboard></app-contributor-dashboard>


  <ng-template #showVerifyEmail>

    <h2>{{userAuth.emailVerifyText}}</h2>
    <button (click)="sendEmailConfirmation()">Send Verification E-Mail</button>

  </ng-template>

</div>
